{% extends 'base.html' %}
{% load static %}

{% block title %}ShopHaul | My Products{% endblock %}

{% block content %}
<div class="container pb-3">
    <h2>Products</h2>
    {% if items %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Address</th>
                <th>Seller</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr id="{{ item.name }}">
                <td> {{ item.name }} </td>
                <td id="{{ item.name }} quantity"> {{ item.quantity }} </td>
                <td id="{{ item.name }} price"> {{ item.price }} </td>
                <td id="{{ item.name }} address">{{ item.address }} </td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>{{ message }}</p>
    {% endif %}
</div>
<script>
    {% if itm %}
    let items = {{ itm | safe }};
    {% endif %}
</script>
{% endblock content %}

