{% extends 'base.html' %}
{% load static %}

{% block title %}ShopHaul | Previous Products{% endblock %}

{% block content %}
<div class="container pb-3">
    <h2>Previous Products</h2>
    {% if items %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Address</th>
                <th>Seller</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr id="{{ item.oname }}">
                <td> {{ item.oname }} </td>
                <td id="{{ item.oname }} oquantity"> {{ item.oquantity }} </td>
                <td id="{{ item.oname }} oprice"> {{ item.oprice }} </td>
                <td id="{{ item.oname }} oaddress">{{ item.oaddress }} </td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>{{ message }}</p>
    {% endif %}
</div>
<script>
    {% if itm %}
    let items = {{ itm | safe }};
    {% endif %}
</script>
{% endblock content %}

