{% extends 'base.html' %}
{% load static %}

{% block title %}ShopHaul | Products{% endblock %}

{% block content %}
<div class="d-flex justify-content-around">
    <div class="p-2">
        {% if request.user.is_authenticated %}
        <a href="{% url 'My Products' as url %}" class="btn btn-warning">My Products</a>
        <a href="/products/add-update-product" class="btn btn-warning">Add/Update Products</a>
        <a href="{% url 'Top Products' as url %}" class="btn btn-warning">Top Products</a>
        {% else %}
        <a href="{% url 'Top Products' as url %}" class="btn btn-warning">Top Products</a>
        {% endif %}
    </div>
</div>
{% endblock content %}