{% extends 'base.html' %}
{% load static %}

{% block title %}ShopHaul | Top Products{% endblock %}

{% block content %}
<div class="container pb-3">
    <h2>Top Products</h2>
    {% if items %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Products</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr id="{{ item.name }}">
                <td> {{ item.name }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>{{ message }}</p>
    {% endif %}
</div>
<script>
    {% if itm %}
    let items = {{ itm | safe }};
    {% endif %}
</script>
{% endblock content %}